httpHostname: https://172.19.172.75

version: "3.2660.0"

mysql:
  host: "172.17.0.1"
  port: "3306"
  user: user
  password: change-me-please
  dbname: netsocs

redis:
  host: "172.17.0.1"
  port: "6379"
  password: change-me-please

mongodb:
  host: "172.17.0.1"
  port: "27017"
  user: netsocs
  password: change-me-please
  dbname: netsocs

keycloak:
  clientId: netsocs-kc
  clientSecret: wfwJZ6zkdKJtkA5vowBUemEcCFA98QkO
  realm: netsocs
  adminUserName: admin
  adminPassword: admin123

traefik:
  experimental:
    plugins:
      keycloakopenid:
        moduleName: "github.com/Netsocs-Team/keycloakopenid"
        version: "v1.0.4"
      sec:
        moduleName: "github.com/Netsocs-Team/traefik-owasp-security"
        version: "v1.3.8"

skipInsecure: true

mediamtxHostname: "172.17.0.1"

registry: "ghcr.io/netsocs-team"

imagePullPolicy: IfNotPresent
